body{
    background-color: #000000;
}

a:link {
    color: hsl(184, 59%, 55%);
  }
  
  /* visited link */
  a:visited {
    color: rgb(100, 190, 241);
  }
.g1{
    background-image: url(background.jpg);
    width: 70%;
    margin-top: -10%;
    margin-left: 15%;
    margin-right: 10%;
    
}
.p3{
    margin-left: 40%;
    font-family: cursive;
    text-align: center;
    margin-right: 6%;
    margin-top: 5%;
}
.intr{
    width: 70%;
    margin-top: -10%;
    margin-left: 15%;
    margin-right: 10%;
    
}
h2{
    margin-top: 5%;
    text-align: center;
    font-family: 'Georgia', sans-serif;
    font-size: 50px; 
    font-weight: lighter;
    color: #FFCACA;
}
.m1{
    position: absolute;
    right: 0%;
    top:10%;
    width: 300px;
}
.m2{
    position: relative;
    left: -3%;
    top:0%;
    width: 400px;
}

.head1{
    margin-left: 10%;
    margin-top: 0%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: #E1EEDD;
    display: inline-block;
}
.m4{
    border-radius: 50%;
    width: 19%;
    margin-right: 10px;
    float: left;
    margin-left: 12%;
    margin-bottom: 3%;
    margin-top: 0%;
}
.about{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #E1EEDD;
    display: inline-block;
}
.profile{
    float: right;
    width: 300px;
    margin-top: 8%;
}
.intro{
    font-family: 'Amatic SC', cursive;
    font-size: 90%;
}
.m3{
    width: 23%;
    margin-right: 10px;
    float: left;
    margin-left: 8%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.btech{
    margin-top: 7%;
    margin-right: 3%;
    font-size: 15px;
    font-family: 'Shantell Sans', cursive;
    color: #b5bef3;
}
.t1{
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    text-align: left;
    float: right;
    width: 60%;
    padding-bottom: 2%;
}
.hea{
    color: #E96479;
    width: 20%;
}
.hea1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsl(184, 59%, 55%);
    padding-right: 0px;
    width: 20%;
}
.fixed-nav-bar { position: fixed; top: 0; 
    left: 0;  width: 100%; height: 35px; 
    font-family: 'Playfair Display', serif;
    text-align: right;
    font-size: 15px;    
    margin-right: 6%;
    background-color: #31304D;
    opacity: 0.2;
    padding: 0%;
}
.nav2{
    margin: 1%;
    color: #F0ECE5;
}


